## ignore composer and PHPmailer file
src/controller/vendor
src/controller/composer.*
src/controller/autoload.php

## clear dist folder
dist/

## Ignore npm package
node_modules
package-lock.json

## test email.php
email2.php

*